
.search input{
  padding:10px;
  border-radius:10px;
  display: inline-block;
   text-align: center;
   vertical-align: middle;
   line-height: 40px;
   margin-top: 1em;
   font-size: 20px;

}

  form input{
      width: 50%;
      font-size: 1em;
      padding: .625em .85em;
      padding-right: 37em;
      line-height: 1.5;
      margin: 0;
      border: 1px solid #bbb;
      box-shadow: 0 1px 3px rgba(0, 0, 0, .1) inset, 
                  0 2px 4px rgba(0, 0, 0, .1);
      border-radius: 3px;
  }

      form input:focus {
          border-color: #298cda;
      }
